<div id="wrapper" class="flex h-20 items-center justify-between px-16">
    <div id="logo">
        <div id="text" class="text-4xl font-bold text-white">
            <h1>The D-Group</h1>
        </div>
    </div>
    <div id="sections">
        <ul class="flex gap-6">
            <li class="">
                <a
                    class="inline-block rounded py-1 px-3 text-xl text-gray-400 hover:text-white focus:bg-white focus:text-[#2F22B8]"
                    href="#"
                    >blog</a
                >
            </li>
            <li class="">
                <a
                    class="inline-block rounded py-1 px-3 text-xl text-gray-400 hover:text-white focus:bg-white focus:text-[#2F22B8]"
                    href="#"
                    >eventi</a
                >
            </li>
            <li class="">
                <a
                    class="inline-block rounded py-1 px-3 text-xl text-gray-400 hover:text-white focus:bg-white focus:text-[#2F22B8]"
                    href="#"
                    >contatti</a
                >
            </li>
        </ul>
    </div>
</div>
