<div id="wrapper">
    <div
        class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white rounded-md"
    >
        <div class="w-full max-w-md space-y-8">
            <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
                <ul
                    class="flex flex-wrap -mb-px justify-center"
                    id="myTab"
                    data-tabs-toggle="#myTabContent"
                    role="tablist"
                >
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                            id="login-tab"
                            data-tabs-target="#login"
                            type="button"
                            role="tab"
                            aria-controls="login"
                            aria-selected="false"
                            (click)="onLogin()"
                            [ngClass]="{
                                'border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500':
                                    showLogin
                            }"
                        >
                            Login
                        </button>
                    </li>
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active"
                            id="register-tab"
                            data-tabs-target="#register"
                            type="button"
                            role="tab"
                            aria-controls="register"
                            aria-selected="true"
                            (click)="onRegister()"
                            [ngClass]="{
                                'border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500':
                                    showRegister
                            }"
                        >
                            Registrati
                        </button>
                    </li>
                </ul>
            </div>
            <form class="mt-8 space-y-6" action="#" method="POST">
                <input type="hidden" name="remember" value="true" />
                <div
                    class="flex flex-col gap-6 rounded-md shadow-sm"
                    *ngIf="showLogin"
                >
                    <div>
                        <label for="email-address" class="sr-only"
                            >Email address</label
                        >
                        <input
                            id="email-address"
                            name="email"
                            type="email"
                            autocomplete="email"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Email address"
                        />
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            autocomplete="current-password"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Password"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col gap-6 rounded-md shadow-sm"
                    *ngIf="showRegister"
                >
                    <div>
                        <label for="email-address" class="sr-only">Nome</label>
                        <input
                            id="name"
                            name="name"
                            type="name"
                            autocomplete="name"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Nome"
                        />
                    </div>
                    <div>
                        <label for="surname" class="sr-only">Cognome</label>
                        <input
                            id="surname"
                            name="surname"
                            type="surname"
                            autocomplete="surname"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Cognome"
                        />
                    </div>
                    <div>
                        <label for="password" class="sr-only">Password</label>
                        <input
                            id="password"
                            name="password"
                            type="password"
                            autocomplete="password"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Password"
                        />
                    </div>
                    <div>
                        <label for="repeat-password" class="sr-only"
                            >Ripeti Password</label
                        >
                        <input
                            id="repeat-password"
                            name="repeat-password"
                            type="repeat-password"
                            autocomplete="repeat-password"
                            required
                            class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                            placeholder="Ripeti Password"
                        />
                    </div>
                </div>

                <div
                    class="flex items-center justify-between gap-4"
                    *ngIf="showLogin"
                >
                    <div class="flex items-center">
                        <input
                            id="remember-me"
                            name="remember-me"
                            type="checkbox"
                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
                        />
                        <label
                            for="remember-me"
                            class="ml-2 block text-sm text-gray-900"
                            >Remember me</label
                        >
                    </div>

                    <div class="text-sm">
                        <a
                            href="#"
                            class="font-medium text-indigo-600 hover:text-indigo-500"
                            >Forgot your password?</a
                        >
                    </div>
                </div>

                <div>
                    <button
                        type="submit"
                        class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                    >
                        <span
                            class="absolute inset-y-0 left-0 flex items-center pl-3"
                        >
                            <!-- Heroicon name: mini/lock-closed -->
                            <svg
                                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </span>
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
