<div class="h-full">
    <!-- FIRST COLUMN -->
    <div
        id="main"
        class="grid h-full grid-cols-[2fr,3fr] items-center justify-center"
    >
        <div class="flex h-full items-center justify-center">
            <div
                id="main-box"
                class="flex flex-col items-start gap-8 text-white"
            >
                <div id="title" class="text-8xl">
                    <p>Feel</p>
                    <p class="font-bold">the vibe.</p>
                </div>
                <div id="paragraph">
                    <p>Join the group of elite dancers.</p>
                    <p>
                        Start from the beginning and
                        <b>dance your way to the top.</b>
                    </p>
                    <p class="font-bold">Let's get started!</p>
                </div>
                <button
                    id="button"
                    class="rounded-full bg-[#FB3983] py-2 px-12 text-sm font-bold uppercase text-white"
                    (click)="onSignup()"
                >
                    <p>sign up</p>
                </button>
            </div>
        </div>
        <!-- SECOND COLUMN -->
        <div
            class="grid h-full grid-cols-3 items-center justify-center rounded-tl-xl bg-[#2F22B8] px-6 text-white shadow-2xl"
        >
            <app-login-form
                class="w-1/2 max-w-sm"
                *ngIf="showLogin"
            ></app-login-form>
            <app-event-card
                *ngIf="!showLogin"
                class="col-start-3"
            ></app-event-card>
        </div>
    </div>
</div>
